:root {
  --primary-font-family: "Playfair Display", serif;
  --secondary-font-family: "Poppins", sans-serif;
  --primary-text-color: #000000;
  --secondary-text-color: #272142;
  --heading-background-color: #f8f3dd;
  --button-background-color: #664d03;
}

h1,
h3,
.about h1 {
  color: var(--primary-text-color);
  font-family: var(--primary-font-family);
  font-weight: 700;
}

h1 {
  font-size: 96px;
  line-height: 128px;
}

h3 {
  font-size: 64px;
}

h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 50px;
}

p {
  font-size: 16px;
  opacity: 0.7;
}

img {
  border-radius: 4px;
  height: auto;
  max-width: 100%;
}

p,
h2,
.heading h2,
.heading p,
.about h2,
.about p {
  color: var(--secondary-text-color);
  font-family: var(--secondary-font-family);
}

.heading p {
  font-size: 36px;
  font-style: bold;
  font-weight: 700;
  margin: 0 auto;
}

.heading h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

.heading {
  background: var(--heading-background-color);
  padding: 100px 20px;
  text-align: center;
}

.photo {
  border-radius: 4px;
  border-style: double;
  margin: auto;
  max-width: 30%;
}

.project {
  padding: 80px 10px;
}

.btn {
  border-radius: 4px;
  display: inline-block;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
}

.btn-branding {
  background: var(--button-background-color);
  color: #ffffff;
  font-family: var(--secondary-font-family);
  font-size: 18px;
  padding: 18px 30px;
}

.btn-branding:hover {
  color: var(--button-background-color);
  background: #f8f3dd;
  border: 1px solid var(--button-background-color);
}

.btn-branding-outline {
  color: var(--button-background-color);
  border: 1px solid var(--button-background-color);
  font-size: 16px;
  padding: 18px 25px;
}

.btn-branding-outline:hover {
  color: #ffffff;
  background: var(--button-background-color);
  border: 1px solid var(--button-background-color);
}

.footer {
  font-size: 12px;
  text-align: center;
  margin-bottom: 50px;
}

.footer a {
  color: var(--button-background-color);
  text-decoration: none;
}

.about {
  padding: 160px 20px;
}

.about-section {
  margin: 40px;
}

.about h1 {
  font-size: 64px;
  line-height: 85px;
}

.about h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}

.about p {
  font-weight: 400px;
}

@media (max-width: 900px) {
  h1,
  .about h1 {
    font-size: 56px;
    line-height: 96px;
  }

  h2 {
    font-size: 30px;
    padding: 0px 10px;
  }

  h3 {
    font-size: 52px;
    text-align: center;
  }

  p,
  .about {
    text-align: center;
  }

  .btn-branding-outline {
    display: block;
    margin: 5px 70px;
    text-align: center;
  }

  .heading p {
    font-size: 34px;
    padding: 0px 20px;
  }

  .photo {
    max-width: 70%;
  }

  .project,
  .about {
    padding: 0px 20px;
  }
  .about-section {
    margin: 30px;
  }

  .footer {
    padding: 0px 20px;
  }
}
